.time-card {
  overflow: hidden;
  padding-top: calc(#{$space-400} + 6px);
  position: relative;
}

.time-card-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.stat-card {
  background-color: $clr-navy-900;
  padding-block: calc(#{$space-300} + 3.5px);
  padding-inline: $space-300;
  position: relative;
}

.time-card,
.stat-card {
  border-radius: $br-m;
}

.time-card-header {
   @include flex(row, space-between, center);
}

.time-card-footer {
  @include flex(row, space-between, center);
}

.time-card-header {
  margin-bottom: $space-100;
}

.time-card-title {
  color: $clr-white;
  font-size: $fs-500;
  font-weight: $fw-500;
  line-height: $lh-m;
}

.ellipsis-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.time-card-current {
  color: $clr-white;
  font-size: $fs-700;
  font-weight: $fw-300;
  line-height: $lh-xl;
}

.time-card-previous {
  color: $clr-navy-200;
  font-size: $fs-400;
  font-weight: $fw-400;
  line-height: $lh-s;
}

// styles based on title applied to time-card
.time-card {
  &.work {
    background-color: #ff8b64;

    .time-card-icon {
      width: 78px;
      min-height: 78px;
      top: -11.05px;
      right: 17.49px;
    }
  }

  &.play {
    background-color: #55c2e6;

    .time-card-icon {
      width: 79.95px;
      min-height: 47.33px;
      top: -7px;
      right: 21.19px;
    }
  }

  &.study {
    background-color: #ff5e7d;

    .time-card-icon {
      width: 78px;
      min-height: 78px;
      top: -6.12px;
      right: 16.87px;
    }
  }

  &.exercise {
    background-color: #4bcf82;

    .time-card-icon {
      width: 79.65px;
      min-height: 53.48px;
      top: -0.42px;
      right: 17.59px;
    }
  }

  &.social {
    background-color: #7335d2;

    .time-card-icon {
      width: 73.6px;
      min-height: 100px;
      top: -15.04px;
      right: 13.44px;
    }
  }

  &.self-care {
    background-color: #f1c75b;

    .time-card-icon {
      min-height: 66px;
      width: auto;
      top: -9.46px;
      right: 15.8px;
    }
  }
}
