@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

input, textarea, select, button {
  font: inherit;
  color: inherit;
}

img, iframe, canvas, video {
  width: 100%;
  display: block;
  line-height: 0;
  object-fit: cover;
}

body {
  min-height: 100vh;
}

body {
  background-color: #08070b;
  font-family: "Jetbrains Mono", monospace, sans-serif;
  padding-block: calc(3.5rem + 9px) calc(3.5rem + 7px);
  padding-inline: 1rem;
}

fieldset {
  border: none;
  position: relative;
}

.tp1 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.tp2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.tp3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.tp4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.mx-width {
  max-width: 540px;
  margin-inline: auto;
}

header {
  margin-bottom: 1rem;
}
header .app-title {
  color: #817d92;
  text-align: center;
}

.display-password-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #24232c;
  color: #e6e5ea;
  margin-bottom: 1rem;
  padding-block: 1rem;
  padding-inline: calc(1rem + 2px);
}
.display-password-container input[readonly] {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding-top: 2px;
}
.display-password-container ::placeholder {
  color: #54535b;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.display-password-container .generated-password {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 20ch;
}
.display-password-container .copy-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
  border: 0;
  height: 20px;
  width: auto;
}
.display-password-container .copy-btn:active .copy-icon {
  color: #ffffff;
}

.copy-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.copy-container .copied-text {
  color: #a4ffaf;
  margin-right: 0.5rem;
  text-transform: uppercase;
}
.copy-container .copy-btn {
  cursor: pointer;
}
.copy-container .copy-icon {
  color: #a4ffaf;
}

.create-password-form {
  background-color: #24232c;
  color: #e6e5ea;
  padding: 1rem;
}
.create-password-form .character-length-container {
  margin-bottom: 2.5625rem;
}
.create-password-form .character-length-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.create-password-form input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  --clr-range: 0%;
}
.create-password-form input[type=range]::-webkit-slider-runnable-track {
  background-color: #18171f;
  border-radius: 1.25rem;
  background: linear-gradient(to right, #a4ffaf var(--clr-range), #18171f var(--clr-range));
  height: 0.5rem;
}
.create-password-form input[type=range]::-webkit-slider-thumb {
  background-color: #e6e5ea;
  border-radius: 1.25rem;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  height: 28px;
  width: 28px;
  margin-top: -10px;
}
.create-password-form input[type=range]::-webkit-slider-thumb:active {
  background: #24232c;
  border: 2px solid #a4ffaf;
}
.create-password-form .character-length-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.create-password-form .character-length-number {
  color: #a4ffaf;
}
.create-password-form input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #e6e5ea;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.create-password-form input[type=checkbox]:active {
  border: 2px solid #a4ffaf;
}
.create-password-form input[type=checkbox]:checked {
  background: #a4ffaf;
  border: none;
  color: #18171f;
}
.create-password-form input[type=checkbox]:checked::after {
  content: "✔";
  display: block;
  text-align: center;
  color: #18171f;
  font-size: 20px;
  font-weight: 900;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: react(0, 0, 0, 0);
  transform: translateX(-100%);
}

.password-requirements-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: calc(1rem + 1px);
  margin-bottom: 2rem;
}

.checkbox-input {
  margin-right: 0.5rem;
}

.password-strength-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #18171f;
  padding-block: calc(1rem - 2px);
  padding-inline: 1rem calc(1rem + 1px);
  margin-bottom: 1rem;
}
.password-strength-container .password-strength-text {
  color: #817d92;
  text-transform: uppercase;
}
.password-strength-container .password-strength-boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.password-strength-container .password-strength-box {
  border: 2px solid #e6e5ea;
  height: 28px;
  width: 10px;
}

.generate-password-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #a4ffaf;
  border: none;
  color: #24232c;
  gap: 1rem;
  padding-block: calc(1rem + 2px);
  width: 100%;
}

.generate-password-button:active {
  color: #a4ffaf;
  background-color: transparent;
  outline: 2px solid #a4ffaf;
}

.password-strength-indicator-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 600px) {
  .tp1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }
  .tp2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.625rem;
  }
  .tp3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }
  .tp4 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  body {
    padding-block: calc(8rem + 5px);
    padding-inline: calc(6.5rem + 10px);
  }
  header {
    margin-bottom: 1.5rem;
  }
  input[type=text]:read-only::placeholder {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.625rem;
  }
  .display-password-container {
    padding-block: calc(1rem + 3px);
    padding-inline: calc(2rem - 1px);
    margin-bottom: 1.5rem;
  }
  .display-password-container .copy-btn {
    height: 24px;
  }
  .display-password-container .copied-text {
    margin-right: 1rem;
  }
  .create-password-form {
    padding: 1.5rem 2rem 2.5625rem;
  }
  .character-length-content-container {
    margin-bottom: 1.5rem !important;
  }
  .checkbox-input {
    margin-right: 0.5rem;
  }
  .password-strength-container {
    background-color: #18171f;
    padding-block: calc(1rem + 4px);
    padding-inline: calc(2rem + 0.25px);
    margin-bottom: 2rem;
  }
  .generate-password-button {
    padding-block: calc(1rem + 4.5px);
    gap: 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
