:root {
    font-size: 62.5%;

    /* VARIABLES */

    /* colors */

    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    --White: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);


    /* font */

    --font-stack: "Barlow Semi Condensed", sans-serif;

    --font-size-13: 1.3rem;

    --font-weight-500: 500;
    --font-weight-600: 600;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-size: var(--font-size-13);
    font-family: var(--font-stack);
}

img {
    display: block;
    line-height: 0;
    width: 100%;
    object-fit: cover;
}

