:root {
  font-size: 62.5%;

  /* VARIABLES */

  /* screen size */
  --desktop-size: 1440px;
  --tablet-size: 786px;
  --mobile-size: 375px;

  /* font */
  --font-stack: "Outfit", "Young Serif", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-young-serif: "Young Serif", serif;
  --font-size-4: 1rem;
  --font-size-16: 1.6rem;
  --font-size-20: 2rem;
  --font-size-28: 2.8rem;
  --font-size-36: 3.6rem;
  --font-size-40: 4rem;

  --font-weight-400: normal;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /* line-height */
  --line-height-1: 1;
  --line-height-1p5: 1.5;

  /* margin */
  --margin-6: 0.6rem;
  --margin-8: 0.8rem;
  --margin-10: 1rem;
  --margin-12: 1.2rem;
  --margin-16: 1.6rem;
  --margin-18: 1.8rem;
  --margin-20: 2rem;
  --margin-22: 2.2rem;
  --margin-24: 2.4rem;
  --margin-30: 3rem;
  --margin-31: 3.1rem;
  --margin-32: 3.2rem;
  --margin-34: 3.4rem;
  --margin-40: 4rem;
  --margin-122: 12.2rem;
  --margin-123: 12.3rem;
  --margin-128: 12.8rem;

  /* padding */
  --padding-8: 0.8rem;
  --padding-10: 1rem;
  --padding-12: 1.2rem;
  --padding-16: 1.6rem;
  --padding-22: 2.2rem;
  --padding-23: 2.3rem;
  --padding-24: 2.4rem;
  --padding-26: 2.6rem;
  --padding-28: 2.8rem;
  --padding-32: 3.2rem;
  --padding-40: 4rem;
  --padding-76: 7.6rem;
  --padding-123: 12.3rem;
  --padding-124: 12.4rem;
  --padding-126: 12.6rem;
  --padding-128: 12.8rem;

  /* gap */
  --gap-4: 0.4rem;
  --gap-8: 0.8rem;
  --gap-12: 1.2rem;
  --gap-32: 3.2rem;

  /* border-radius */
  --border-radius-12: 12px;
  --border-radius-24: 24px;

  /* colors */
  --white: hsl(0, 0%, 100%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
}

/* GENERAL */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

img {
  display: block;
  line-height: 0;
  object-fit: cover;
  width: 100%;
}

body {
  background-color: var(--stone-100);
  color: var(--stone-600);
  font-family: var(--font-outfit);
  font-size: var(--font-size-16);
  line-height: var(--line-height-1p5);
  min-height: 100vh;
}

/* CARD */
.card-container {
  background-color: var(--white);
  padding-block: var(--padding-40);
  padding-inline: var(--padding-32);
  margin-left: auto;
  margin-right: auto;
}

/* HERO */
.hero-image-container {
  background-color: var(--stone-600);
  margin-bottom: var(--margin-40);
  margin-inline: calc(-1 * var(--margin-32));
  margin-top: calc(-1 * var(--margin-40));
}

/* INTRO */
.intro-container {
  margin-bottom: var(--margin-32);
}

.intro-title {
  color: var(--stone-900);
  font-family: var(--font-young-serif);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-1);
  margin-bottom: var(--margin-24);
}

.intro-text {
  color: var(--stone-600);
  font-family: var(--font-outfit);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-1p5);
}

/* PREPARATION */
.prep-container {
  background-color: var(--rose-50);
  border-radius: var(--border-radius-12);
  padding: var(--padding-24);
  padding-top: var(--padding-28);
  padding-bottom: var(--padding-26);
  margin-bottom: var(--margin-34);
}

.prep-title {
  color: var(--rose-800);
  font-family: var(--font-outfit);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-1);
  margin-bottom: var(--margin-16);
}

.prep-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
}

.prep-list li {
  align-items: center;
  display: flex;
  font-size: var(--font-size-16);
  line-height: var(--line-height-1p5);
  list-style: none;
}

.prep-list li::before {
  background-color: var(--rose-800);
  border-radius: 50%;
  content: "";
  display: inline-block;
  flex-shrink: 0;
  height: 4px;
  margin-left: var(--margin-10);
  margin-right: var(--margin-32);
  width: 4px;
}

.prep-list strong {
  font-weight: var(--font-weight-700);
}

/* INGREDIENTS */
.ingredients-title, .instructions-title, .nutrition-title {
  color: var(--brown-800);
  font-family: var(--font-young-serif);
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-1);
  margin-bottom: var(--margin-24);
}

.ingredients-list, .instructions-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
}

.ingredients-list li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size-16);
  line-height: var(--line-height-1p5);
}

.ingredients-list li::before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--brown-800);
  flex-shrink: 0; 
  margin-left: var(--margin-8);
  margin-right: var(--margin-31);
}

/* RULE */
.rule {
  margin-block: var(--margin-31);
  border: 1px solid var(--stone-150);
  width: 100%;
}

/* INSTRUCTIONS */
.instructions-list {
 padding-left: var(--padding-22);
}

ol li{
  padding-left: var(--padding-16);
  font-size: var(--font-size-16);
  line-height: var(--line-height-1p5);
}

.instructions-list li::marker {
  font-weight: var(--font-weight-700);
  color: var(--brown-800);
}

/* NUTRITION */ 
.nutrition-text {
  margin-bottom: var(--margin-16);
}

.nutrition-table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

.nutrition-table tr:not(:last-of-type)  {
    border-bottom: 1px solid var(--stone-150);
}

.nutrition-table th  {
    font-weight: var(--font-weight-400);
    padding-block: var(--padding-12);
    padding-left: var(--padding-32);
    text-align: start;
}

.nutrition-table td {
  color: var(--brown-800);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-1p5);
  padding-right: var(--padding-32);
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {

  body {
    padding-top: var(--padding-123);
    padding-bottom: var(--padding-123);
  }

  .card-container {
    border-radius: var(--border-radius-24);
    max-width: 616px;
    padding-inline: var(--padding-40);
  }

  .hero-image-container {
    border-radius: var(--border-radius-12);
    margin-inline: 0;
    margin-top: 0;
    overflow: hidden;
  }

  .hero-image {
    height: 300px;
  }
  
  .intro-title {
  font-size: var(--font-size-40);
  }
}


@media screen and (min-width: 1080px) {
  .card-container {
    max-width: 736px;
  }
}