:root {
  font-size: 62.5%;

  /* VARIABLES */

  /* screen size */
  --desktop-size: 1440px;
  --tablet-size: 786px;
  --mobile-size: 375px;

  /* font */
  --font-stack: "Outfit", "Young Serif", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-young-serif: "Young Serif", serif;
  --font-size-4: 1rem;
  --font-size-16: 1.6rem;
  --font-size-20: 2rem;
  --font-size-28: 2.8rem;
  --font-size-36: 3.6rem;
  --font-size-40: 4rem;

  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /* line-height */
  --line-default: 1;
  --line-height-1p5: 1.5;

  /* margin */
  --margin-8: 0.8rem;
  --margin-12: 1.2rem;
  --margin-16: 1.6rem;
  --margin-24: 2.4rem;
  --margin-32: 3.2rem;
  --margin-40: 4rem;

  /* padding */
  --padding-12: 1.2rem;
  --padding-24: 2.4rem;
  --padding-32: 3.2rem;
  --padding-40: 4rem;
  --padding-76: 7.6rem;
  --padding-128: 12.8rem;

  /* gap */
  --gap-8: 0.8rem;

  /* border-radius */
  --border-radius-12: 12px;
  --border-radius-24: 24px;

  /* colors */
  --white: hsl(0, 0%, 100%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: var(--stone-100);
  color: var(--stone-600);
  font-family: var(--font-outfit);
  font-size: var(--font-size-16);
  line-height: var(--line-height-1p5);
  min-height: 100vh;
}

img {
  display: block;
  line-height: 0;
  object-fit: cover;
  width: 100%;
}

.content-wrapper {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  max-width: 736px;
  overflow: hidden;
  padding-block: var(--margin-40);
  padding-inline: var(--margin-40);
  margin: 0 auto;
}

/* HERO */
.hero-image-container {
  background-color: var(--white);
  margin-inline: calc(-1 * var(--margin-40));
  margin-top: calc(-1 * var(--margin-40))
}

.hero-image {
    max-height: 300px;
}

.hero-title {
  color: var(--stone-900);
  font-family: var(--font-young-serif);
  font-size: var(--font-size-40);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-default);
  margin-bottom: var(--margin-24);
}

.hero-info {
  color: var(--stone-600);
}

/* PREPARATION */
.preparation-container {
  background-color: var(--rose-50);
  border-radius: var(--border-radius-12);
  padding: var(--padding-24);
}

.preparation-title {
  color: var(--rose-800);
  font-family: var(--font-outfit);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-600);
  margin-bottom: var(--margin-16);
}

.preparation-list li::marker {
  color: var(--rose-800);
  content: "•  ";
  font-size: var(--font-size-20);
}

.preparation-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
}

.preparation-list li {
  margin-left: var(--margin-12);
}

.preparation-list strong {
  font-weight: var(--font-weight-600);
}

/* INGREDIENTS, INSTRUCTIONS */
.section-title-serif {
  color: var(--brown-800);
  font-family: var(--font-young-serif);
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-default);
  margin-bottom: var(--margin-24);
}

.ingredients-title {
  margin-bottom: var(--margin-24);
}

.ingredients-list li::marker,
.instructions-list li::marker {
  color: var(--brown-800);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-700);
}

.ingredients-list,
.instructions-list {
  list-style-position: inside;
}

.ingredients-list li,
.instructions-list li {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.ingredients-list li:not(:last-of-type),
.instructions-list li:not(:last-of-type) {
  margin-bottom: var(--margin-8);
}

.rule {
  border-top: 1px solid var(--stone-150);
  width: 100%;
}

/* NUTRITION */
.nutrition-text {
  margin-bottom: var(--margin-24);
}

.nutrition-table {
  border-collapse: collapse;
  width: 100%;
}

.nutrition-heading {
  font-weight: var(--font-weight-400);
  padding-left: var(--padding-32);
  text-align: left;
}

.nutrition-stat {
  color: var(--brown-800);
  font-weight: var(--font-weight-700);
}

.nutrition-table td {
  padding-bottom: var(--padding-12);
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  body {
    padding-block: var(--padding-128);
    padding-inline: var(--padding-76);
  }

  .hero-image-container {
    padding-top: var(--padding-40);
    padding-inline: var(--padding-40);
  }

  .hero-image {
    border-radius: var(--border-radius-12);
  }

  .content-wrapper {
    border-radius: var(--border-radius-24);
  }
}
