:root {
    /* TOKENS */
    /* colors */
    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-purple-950: #301534;
    --clr-purple-600: #8B6990;
    --clr-purple-100: #F8EEFF;
    
    --clr-violet-600: #AD28EB;

    /* fonts */
    --base-font: 'Work Sans', sans-serif;

    --fs-300: 3.5rem; /* 56px */
    --fs-200: 1.125rem; /* 18px */
    --fs-100: 1rem; /* 16px */

    /* spacing */
    --spacing-500: 2.5rem; /* 40px */
    --spacing-400: 2rem; /* 32px */
    --spacing-300: 1.5rem; /* 24px */
    --spacing-200: 1rem; /* 16px */
    --spacing-100: 0.5rem; /* 8px */

    /* line height */
    --lh-l: 4.125rem; /* 66px */
    --lh-m: 1.5rem; /* 24px */
    --lh-s: 1.3125rem; /* 21px */
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: var(--base-font);
    color: var(--clr-purple-950);
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

img, svg, iframe, canvas {
    width: 100%;
    object-fit: cover;
    display: block;
    line-height: 0;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
}



