:root {
    /* TOKENS */
    /* colors */
    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-purple-950: #301534;
    --clr-purple-600: #8B6990;
    --clr-purple-100: #F8EEFF;
    
    --clr-violet-600: #AD28EB;

    /* fonts */
    --base-font: 'Work Sans', sans-serif;

    --fs-300: 3.5rem; /* 56px */
    --fs-200: 2rem; /* 32px */
    --fs-200: 1.125rem; /* 18px */
    --fs-100: 1rem; /* 16px */

    --fw-bold: 700;
    --fw-medium: 600;
    --fw-regular: 400;

    /* spacing */
    --spacing-500: 2.5rem; /* 40px */
    --spacing-400: 2rem; /* 32px */
    --spacing-300: 1.5rem; /* 24px */
    --spacing-200: 1rem; /* 16px */
    --spacing-100: 0.5rem; /* 8px */

    /* line height */
    --lh-xl: 1.5;
    --lh-l: 4.125rem; /* 66px */
    --lh-m: 1.5rem; /* 24px */
    --lh-s: 1.3125rem; /* 21px */

    /* border radius */
    --br-l: 50%; /* 50% */
    --br-m: 1rem; /* 16px */
    --br-s: 0.5rem; /* 8px */


    /* COMPONENT TOKENS */
    --bg-image: url('./assets/images/background-pattern-mobile.svg');
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: var(--base-font);
    color: var(--clr-purple-950);
    background-color: var(--clr-purple-100);
    padding: var(--spacing-300);
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

img, svg, iframe, canvas {
    width: 100%;
    display: block;
    line-height: 0;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
}

/* bg image */
.bg-image-wrapper {
    background-image: var(--bg-image);
    height: 14.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-inline: calc(var(--spacing-300) * -1);
    margin-top: calc(var(--spacing-300) * -1);
}
 
/* card */
.card {
    margin-inline: auto;
    background-color: var(--clr-white);
    padding: var(--spacing-300);
    border-radius: var(--br-s);
    margin-top: calc(101.5px * -1);
}

/* header */
.header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--spacing-300);
    margin-bottom: var(--spacing-300);
}

.logo-mark {
    width: var(--spacing-300);
    height: var(--spacing-300);
}


header.logo-text {
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
    font-weight: bold;
}

/* details */
details{
    display: flex;
    flex-direction: column;
}

details:not(:last-child) {
     margin-bottom: var(--spacing-300);
     padding-bottom: var(--spacing-300);
}

details:not(:last-of-type) {
    border-bottom: 1px solid var(--clr-purple-100);

}

summary {
   list-style: none;
    font-size: var(--fs-100);
    font-weight: var(--fw-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


summary:active {
    color: var(--clr-violet-600);
}

.summary-text {
    margin-right: var(--spacing-200);
}


.details-text {
    margin-top: var(--spacing-300);
    font-size: calc(var(--fs-100) - 2px);
    font-weight: var(--fw-regular);
    color: var(--clr-purple-600);
    line-height: var(--lh-xl);    
}


.summary-icon {
    width: 1.875rem;
    height: 1.875rem;
    padding-left: var(--spacing-400);
    background-image: url(./assets/icons/icon-plus.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

details[open] .summary-icon{
    background-image: url(./assets/icons/icon-minus.svg);
}

summary::-webkit-details-marker {
   display: none;
}


/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    :root {
        --bg-image: url(./assets/images/background-pattern-desktop.svg);
    }

    /* bg image */
    .bg-image-wrapper { 
        height: 20rem;
    }

    /* header */
    .logo-mark {
        width: var(--spacing-500);
        height: var(--spacing-500);
    }

    .logo-text {
        font-size: var(--fs-300);
    }   

    /* card */
    .card {
        max-width: 37.5rem;
        padding: var(--spacing-500);
        line-height: var(--lh-l);
        border-radius: var(--br-m);
        margin-top: calc(152.5px * -1);
    }

    /* details */
    summary {
        font-size: var(--fs-200);
        line-height: var(--lh-s);
    }

    .details-text {
        font-size: calc(var(--fs-100));
        line-height: var(--lh-m);
    }

}