/* tablet */
@media screen and (min-width: 600px) {
  body {
    padding-block: calc(var(--space-900) + 1px);
    padding-inline: calc(var(--space-900) + var(--space-100));
  }

  .card {
    border-radius: calc(var(--space-400) + 4px);
    padding-block: calc(var(--space-500) + 2.86px);
    padding-inline: var(--space-500);
  }
  .card-content-container {
    height: 100%;
    padding-inline: 0;
  }
  .hero-image {
    border-radius: var(--space-200);
  }
  .heading {
    font-size: var(--fs-xl);
  }
  .card-list li:last-of-type {
    margin-bottom: var(--space-300);
  }
  .email-container {
    margin-bottom: var(--space-200);
  }
}

/* desktop */
@media screen and (min-width: 1004px) {
  body {
    display: grid;
    place-content: center;
  }

  .card {
    column-gap: var(--space-800);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: auto;
    max-width: 904px;
    padding-block: var(--space-300);
    padding-inline: var(--space-400);
  }

  .hero-container {
    grid-column: 2/-1;
    grid-row: 1;
    max-width: 400px;
  }

  .card-content-container {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1;
    padding-top: 0;
    padding-bottom: 0;
    /* padding-top: calc(var(--space-900) - 0.5px); */

    justify-content: center;
  }

  .heading,
  .sub-heading,
  .card-list li:last-of-type {
    margin-bottom: var(--space-400);
  }

  .email-container {
    margin-bottom: var(--space-300);
  }
  .hero-image {
    min-height: 593px;
  }
}
