@media screen and (min-width: 768px) {
    :root {
        --viewport-padding: 32px 40px 19px 40px;
    }

    .logo-container {
        margin-bottom: 40px;
    }

    .hero-title {
        max-inline-size: 12ch;
    }

    .hero-description {
        max-inline-size: initial;
        margin: 0 auto 40px auto;

    }
}

@media screen and (min-width: 1440px) {
    :root {
        --viewport-padding: 88px 140px 121px 140px;
    }

    .logo-container {
        margin-bottom: 24px;
    }

    .logo-icon {
        width: var(--logo-size-desktop);
        height: var(--logo-size-desktop);
        margin: unset;
    }

    .hero-container::before {
        width: 69.58333333335%;
        height: 737px;
    }

    .hero-title {
        font-size: var(--fs-700);
        font-weight: var(--fw-semi-bold);
        line-height: var(--lh-s);
        letter-spacing: var(--ls-s);
        text-align: left;
        margin: 0 0 32px 0;
    }
    
    .hero-description {
        text-align: left;
        margin: unset;
        max-inline-size: 46ch;
    }
}


