:root {
  font-size: 62.5%;

  /* Variables */
  --mobile-size: 375px;
  --desktop-size: 1440px;

  /* Colors */
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  /* Font */
  --font-stack: "Inter", sans-serif;

  --font-size-24: 2.4rem;
  --font-size-14: 1.4rem;

  --body-default: 1.4rem;

  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /* Line-height */
  --line-height-default: 1.5;

  /* Padding */
  --padding-24: 2.4rem;
  --padding-40: 4rem;

  /* Border Radius */
  --border-radius-8: 8px;
  --border-radius-12: 12px;

  /* Margin */
  --margin-4: 4px;
  --margin-16: 16px;
  --margin-24: 24px;
}

/* General */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  background-color: var(--grey-900);
  color: var(--white);
  font-size: var(--font-size-14);
  font-family: var(--font-stack);
  height: 100%;
  padding: var(--padding-24);
  line-height: var(--line-height-default);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* CARD CONTAINER */
.card-container {
  width: 100%;
  max-width: 384px;
  background-color: var(--grey-800);
  padding: var(--padding-40);
  border-radius: var(--border-radius-12);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.item {
  margin-bottom: var(--margin-24);
}

.profile-name {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-600);
}

.address-details {
  color: var(--green);
  font-weight: var(--font-weight-700);
}

/* IMAGES */
img {
  display: block;
  width: 100%;
  line-height: 0;
}

.avatar-container {
  object-fit: cover;
}

.avatar {
  border-radius: 50%;
  max-width: 88px;
}

.profile-name {
  margin-bottom: var(--margin-4);
}

/* LIST LINKS */
.links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.links-container a {
  background-color: var(--grey-700);
  padding: calc(var(--padding-24) / 2);
  border-radius: var(--border-radius-8);
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-weight: var(--font-weight-700);
}

.links-container a:not(:last-of-type) {
  margin-bottom: var(--margin-16);
}

.links-container a:hover {
  background-color: var(--green);
  color: var(--grey-700);
  cursor: pointer;
}

address {
  font-style: normal;
}