:root {

    /* VARIABLES */

    /* colors */
    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-grey-950: #131518;
    --clr-grey-900: #262E38;
    --clr-grey-500: #969FAD;

    --clr-orange-500: #FC7614;

    --clr-gradient: linear-gradient(90deg, #232A34, #181E27);

    /* font */
    --base-font: Overpass, sans-serif;

    --fs-500: 1.75rem ; /* 28px */
    --fs-400: 1.5rem ; /* 24px */
    --fs-300: 1rem ; /* 16px */
    --fs-200: 0.9375rem ; /* 15px */
    --fs-100: 0.875rem ; /* 14px */

    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-regular: 400;


    /* spacing */
    --spacing-1700:  8.5rem; /* 136px */
    --spacing-1300:  6.5rem; /* 104px */
    --spacing-500:  2.5rem; /* 40px */
    --spacing-400:  2rem; /* 32px */
    --spacing-300:  1.5rem; /* 24px */
    --spacing-200:  1rem; /* 16px */
    --spacing-100:  0.5rem; /* 8px */
    --spacing-0:  0rem; /* 8px */

    /* line height */
    --lh-xxxl: 2.1875rem;  /* 35px */
    --lh-xxl: 1.875rem;  /* 30px */
    --lh-xl: 1.5rem;  /* 24px */
    --lh-l: 1.375rem;  /* 22px */
    --lh-m: 1.1875rem;  /* 19px */
    --lh-s: 1.125rem;  /* 18px */

    /* letter spacing */
    --ls-xl:  0.125rem; /* 2px  */
    --ls-l:  0.1169rem; /* 1.87px  */
    --ls-m:  0.0125rem; /* 0.2px  */
    --ls-s:  0.0106rem; /* 0.17px  */
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: var(--base-font);
    background-color: var(--clr-grey-950);
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

button, input, select, textarea {
    font: inherit;
    color: inherit;
}

img, svg, canvas, video, iframe {
    display: block;
    width: 100%;
    object-fit: cover;
    line-height: 0;
}
