:root {

    /* VARIABLES */

    /* colors */
    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-grey-950: #131518;
    --clr-grey-900: #262E38;
    --clr-grey-500: #969FAD;

    --clr-orange-500: #FC7614;

    --clr-gradient: radial-gradient(circle at top, #232A34 0%, #181E27 100%);

    /* font */
    --base-font: Overpass, sans-serif;

    --fs-500: 1.75rem ; /* 28px */
    --fs-400: 1.5rem ; /* 24px */
    --fs-300: 1rem ; /* 16px */
    --fs-200: 0.9375rem ; /* 15px */
    --fs-100: 0.875rem ; /* 14px */

    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-regular: 400;


    /* spacing */
    --spacing-1700:  8.5rem; /* 136px */
    --spacing-1300:  6.5rem; /* 104px */
    --spacing-600:  2.5rem; /* 48px */
    --spacing-500:  2.5rem; /* 40px */
    --spacing-400:  2rem; /* 32px */
    --spacing-300:  1.5rem; /* 24px */
    --spacing-200:  1rem; /* 16px */
    --spacing-100:  0.5rem; /* 8px */
    --spacing-0:  0rem; /* 8px */

    /* line height */
    --lh-xxxl: 2.1875rem;  /* 35px */
    --lh-xxl: 1.875rem;  /* 30px */
    --lh-xl: 1.5rem;  /* 24px */
    --lh-l: 1.375rem;  /* 22px */
    --lh-m: 1.1875rem;  /* 19px */
    --lh-s: 1.125rem;  /* 18px */

    /* letter spacing */
    --ls-xl:  0.125rem; /* 2px  */
    --ls-l:  0.1169rem; /* 1.87px  */
    --ls-m:  0.0125rem; /* 0.2px  */
    --ls-s:  0.0106rem; /* 0.17px  */

    /* border radius */
    --br-l: 50%;
    --br-m: 1.875rem; /* 30px */
    --br-s: 1.4063rem; /* 22.5px */
    --br-xs: 0.9375rem; /* 15px */


    /* COMPONENTS */

    /* card */
    --card-h: 22.5rem; /* 360px */
    --card-w: 20.4375rem; /* 327px */
    --card-p: calc(var(--spacing-300) + 4.5px) var(--spacing-300); /* 28.5px 24px */

    /* star icon  */
    --star-icon-container-w: var(--spacing-500); /* 40px */

    --star-w: 0.8725rem; /* 13.96px */
    --star-h: 0.8331rem; /* 13.33px */

}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: var(--base-font);
    background-color: var(--clr-grey-950);
    display: grid;
    place-content: center;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

button, input, select, textarea {
    font: inherit;
    color: inherit;
}

img, svg, canvas, video, iframe {
    display: block;
    width: 100%;
    object-fit: cover;
    line-height: 0;
}

/*  ELEMENTS */
.card {
    height: var(--card-h);
    width: var(--card-w);
    background-color: var(--clr-grey-900);
    border-radius: var(--br-xs);
    background: var(--clr-gradient);
    padding: var(--card-p);
}

.star-container {
    background-color: var(--clr-grey-900);
    width: var(--star-icon-container-w);
    height: var(--star-icon-container-w);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-l);
}

/* container */
.star-icon-wrapper {
   width: var(--star-w);
   height: var(--star-h);
   transform: translateX(1.5px);
}





@media screen and (min-width: 768px) {
  :root {
    /* CARD */
    --card-h: 26rem; /* 416px */
    --card-w: 25.75rem; /* 412px */
    --card-p: var(--spacing-400) var(--spacing-300); /* 32px 24px */

    /* STAR */
    --star-icon-container-w: var(--spacing-600); /* 48px */
    --star-w: 1.0469rem; /* 16.75px */
    --star-h: 1rem; /* 16px */


  }

  .card {
    border-radius: var(--br-s);
  }
}