// Tablet
@media screen and (min-width: 700px) {
  .user-container {
    justify-content: start;
  }

  #time-cards-container {
    grid-template-columns: repeat(3, minmax(188px, 1fr));
    grid-template-rows: repeat(2, auto);
  }

  .time-card {
    padding-top: calc(#{$space-400} + 1px);
    @include flex(column, end, stretch);
  }

  .stat-card {
    padding-block: calc(#{$space-300} + 1.5px);
    padding-inline: calc(#{$space-200} + 5.5px);
    max-height: 180px;
  }

  .time-card-header {
    margin-bottom: $space-200;
  }

  .time-card-footer {
    @include flex(column, start, start);
  }

  .time-card-current {
    font-weight: $fw-300;
    font-size: $fs-900;
    line-height: $lh-xxxl;
    color: $clr-white;
    margin-bottom: $space-100;
  }

  // styles based on title applied to time-card
  .time-card {
    &.work {
      background-color: #ff8b64;

      .time-card-icon {
        width: 57.48px;
        min-height: 57.48px;
        top: -7.78px;
        right: 12.77px;
      }
    }

    &.play {
      background-color: #55c2e6;

      .time-card-icon {
        width: 58.92px;
        min-height: 34.88px;
        top: -3.01px;
        right: 15.69px;
      }
    }

    &.study {
      background-color: #ff5e7d;

      .time-card-icon {
        width: 57.48px;
        min-height: 57.48px;
        top: -4.47px;
        right: 12.55px;
        left: auto;
        bottom: auto;
      }
    }

    &.exercise {
      background-color: #4bcf82;

      .time-card-icon {
        width: 58.7px;
        min-height: 39.41px;
        top: -0.31px;
        right: 13.01px;
      }
    }

    &.social {
      background-color: #7335d2;

      .time-card-icon {
        width: 40.58px;
        min-height: 63.35px;
        top: -7px;
        right: 14.02px;
      }
    }

    &.self-care {
      background-color: #f1c75b;

      .time-card-icon {
        width: 53.06px;
        min-height: 48.64px;
        top: -7.39px;
        right: 11.78px;
      }
    }
  }
}

// Desktop
@media screen and (min-width: 1150px) {
  .body {
    place-content: center;
  }

  main#root {
    grid-template-columns: 255px 1fr;
    grid-template-rows: 520px;
    gap: $space-400;
  }

  .user-card {
    grid-column: 1/2;
    grid-row: 1/-1;
    height: 100%;
  }

  .user-img {
    width: calc(#{$space-900} + 6px);
    height: calc(#{$space-900} + 6px);
  }

  .user-name {
    font-size: $fs-800;
    font-weight: $fw-300;
    line-height: $lh-xxl;
    color: $clr-white;
  }

  .time-cards-container {
    grid-column: 2/-1;
    grid-row: 1/-1;
  }

  .time-card {
    padding-top: calc(#{$space-500} + 5px);
  }

  .stat-card {
    padding-block: calc(#{$space-300} + 7px);
    padding-inline: calc(#{$space-300} + 6px);
    max-height: 199px;
  }

  #time-cards-container {
    grid-template-columns: repeat(3, minmax(255px, 1fr));
    grid-template-rows: repeat(2, 244px);
    gap: $space-400;
  }

  .user-container {
    min-height: 354px;
    @include flex(column, start, start);
    gap: $space-500;
  }

  .calendar-list {
    @include flex(column, start, start);
    gap: calc(#{$space-200} + 5px);
    padding-block: calc(#{$space-300} + 4px);
    padding-inline: $space-400;
  }

  .time-card {
    &.work {
      background-color: #ff8b64;

      .time-card-icon {
        width: 78px;
        min-height: 78px;
        top: -10.93px;
        right: 17.43px;
      }
    }

    &.play {
      background-color: #55c2e6;

      .time-card-icon {
        width: 79.95px;
        min-height: 47.33px;
        top: -4.04px;
        right: 21.42px;
      }
    }

    &.study {
      background-color: #ff5e7d;

      .time-card-icon {
        width: 78px;
        min-height: 78px;
        top: -6.06px;
        right: 17.07px;
        left: auto;
        bottom: auto;
      }
    }

    &.exercise {
      background-color: #4bcf82;

      .time-card-icon {
        width: 79.65px;
        min-height: 53.48px;
        top: -0.42px;
        right: 17.71px;
      }
    }

    &.social {
      background-color: #7335d2;

      .time-card-icon {
        width: 85.84px;
        min-height: 54.76px;
        top: -18px;
        right: 18.99px;
      }
    }

    &.self-care {
      background-color: #f1c75b;

      .time-card-icon {
        width: 72px;
        min-height: 66px;
        top: -10.1px;
        right: 15.88px;
      }
    }
  }
}
