// color
$clr-white: #ffffff;
$clr-black: #000000;

$clr-navy-950: #0E1323;
$clr-navy-900: #1C204B;
$clr-navy-800: #33397A;
$clr-navy-200: #BBC0FF;

$clr-orange-300: #FF8B64;

$clr-purple-700: #7335D2;
$clr-purple-600: #5747EA;
$clr-purple-500: #7078C9;

$clr-blue-300: #55C2E6;
$clr-pink-400: #FF5E7D;
$clr-green-400: #4BCF82;
$clr-yellow-300: #F1C75B;
$clr-grey-200: #D8D8D8;

// font
$base-font: "Rubik", sans-serif;

$fs-900: 3.5rem; // 56px
$fs-800: 2.5rem; // 40px
$fs-700: 2rem; // 32px
$fs-600: 1.5rem; // 24px
$fs-500: 1.125rem; // 18px
$fs-400: 0.9375rem; // 15px

$fw-700: 700; // Bold
$fw-500: 500; // Medium
$fw-400: 400; // Regular
$fw-300: 300; // Light

// spacing
$space-500:  2.5rem; // 40px
$space-400:  2rem; // 32px
$space-300:  1.5rem; // 24px
$space-200:  1rem; // 16px
$space-100:  0.5rem; // 8px
$space-0: 0rem; // 0px

$lh-xxxl: 4.125rem; // 66px
$lh-xxl: 2.9375rem; // 47px
$lh-xl: 2.375rem; // 38px
$lh-l: 1.75rem; // 28px
$lh-m: 1.3125rem; // 21px
$lh-s: 1.125rem; // 18px

// other
$br-m: 15px // 15px