
@import 'variables';
@import 'mixins';
@import 'global';
@import '../components/Profile/Profile.scss';
@import '../components/TimeCard/TimeCard.scss';
@import 'media-queries';


body {
      font-family: $base-font;
      background-color: $clr-navy-950;
      color: $clr-white;
      padding-inline: $space-300;
      padding-block: calc(#{$space-950} + 1px);
    
}

#root {
    // background-color: white;
    display: grid;
    gap: $space-300;
}

.error-message-container {
    display: none;
}