@import 'variables';
@import 'global';
@import '../components/Profile/Profile.scss';
@import 'media-queries';


body {
      font-family: $base-font;
      background-color: $clr-navy-950;
      color: $clr-white;
}

h1 {
    color: $clr-name;
}