@media screen and (min-width: 600px) {
    .gallery-container .gallery-image-container {
        border-radius: var(--br-xl);
    }
    /* image placement */
   .product-1 {
        object-position: 0 -200px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --bpt: calc(var(--spacing-300));
        --bplr: var(--spacing-1000);
        --bpb: calc(var(--spacing-900) - 2px);
        --body-p: var(--bpt) var(--bplr) var(--bpb);
        --avatar-width: calc(var(--spacing-700) - 6px); /* 56px */
    }

    .show-menu-mobile-tablet {
        width: 100%;
        max-width: 18.8125rem;
        padding: var(--spacing-600) 0  0 var(--spacing-1000);
    }

    .main-header {
        margin-bottom: var(--spacing-600);
        padding-bottom: var(--spacing-400);
        border-bottom: 1px solid var(--clr-grey-100);
    }
    .cart-icon-container {
        margin-right: var(--spacing-600);
        position: relative;
    }

    /* menu */
    .menu-container {
        padding: var(--spacing-600) var(--spacing-1000);
        width: 100%;
        max-width: 18.8125rem;
    }

    /* cart */
    .cart-menu-container {
        top: var(--spacing-600);
        right: 50%;
        transform: translateX(50%);
    }
    /* gallery */
     .gallery-container .gallery-image-container {
        height: 290px;
        background-color: yellow;
    }
    .gallery-container .gallery-image-container .product-image {
        /* margin-top: 20px; */
        /* padding-bottom: 30px; */

        /* object-position: top; */
        object-fit: cover;
    }
    
}

@media screen and (min-width: 1440px) {
    .wrapper-max-w {
        max-width: 69.375rem; /* 1110px */
        margin: 0 auto;
    }
    .main-header {
        margin-bottom: var(--spacing-1200);
        padding-bottom: var(--spacing-400);
        border-bottom: 1px solid var(--clr-grey-100);
    }
    .menu-icon-container {
        display: none;
    }
 
    .logo-container {
        margin-right: var(--spacing-700);
    }

    /* menu */
    .blur-wrapper {
        display: none;
    }
    .menu-container {
        position: relative;
        width: fit-content;
        height: fit-content;
        padding: 0;
        background-color: initial;
        margin-right: auto;
        max-width: initial;
        display: flex;
        /* reset any potential absolute values remaining previously */
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
    }   
    .close-menu-icon {
        display: none;
    }
    .menu-list {
        flex-direction: row;
        gap: var(--spacing-400);
    }
    .menu-list a {
        font-weight: normal;
        font-size: var(--fs-300);
        color: var(--clr-grey-500);
    }
    .link-underline {
        text-decoration: 4px underline solid var(--clr-orange-500);
        text-underline-offset: var(--spacing-600);
       
        a {
             color: var(--clr-grey-950);
            font-weight: var(--fw-regular);
        }
    }
    .no-scroll {
        overflow: initial;
    }    
}