@media screen and (min-width: 768px) {
    :root {
        --body-p: calc(var(--spacing-300) + 4px) var(--spacing-1000) calc(var(--spacing-900) - 2px);
        --avatar-width: calc(var(--spacing-700) - 6px); /* 56px */
    }
    .main-header {
        margin-bottom: calc(var(--spacing-1000) + 1px);
    }
    .cart-icon-container {
        margin-right: var(--spacing-600);
    }
}

@media screen and (min-width: 1440px) {
    .wrapper {
        max-width: 1110px;
        margin: 0 auto;
    }
    .menu-icon-container {
        display: none;
    }
}