@media screen and (min-width: 768px) {
    :root {
        --body-p: calc(var(--spacing-300) + 4px) var(--spacing-1000) calc(var(--spacing-900) - 2px);
        --avatar-width: calc(var(--spacing-700) - 6px); /* 56px */
    }

    .show-menu-mobile-tablet {
        width: 100%;
        max-width: 301px;
        padding: var(--spacing-600) 0  0 var(--spacing-1000);
    }

    .main-header {
        margin-bottom: var(--spacing-600);
        padding-bottom: var(--spacing-400);
        border-bottom: 1px solid var(--clr-grey-100);
    }
    .cart-icon-container {
        margin-right: var(--spacing-600);
    }

    /* menu */
    .menu-container {
        padding: 48px 80px;
        width: 100%;
        max-width: 301px;
    }
}

@media screen and (min-width: 1440px) {
    .wrapper-max-w {
        max-width: 69.375rem; /* 1110px */
        margin: 0 auto;
    }
    .main-header {
        margin-bottom: var(--spacing-1200);
        padding-bottom: var(--spacing-400);
        border-bottom: 1px solid var(--clr-grey-100);
    }
    .menu-icon-container {
        display: none;
    }
 
    .logo-container {
        margin-right: var(--spacing-700);
    }

    /* menu */
    .blur-wrapper {
        display: none;
    }
    .menu-container {
        position: relative;
        width: fit-content;
        height: fit-content;
        padding: 0;
        background-color: initial;
        margin-right: auto;
        max-width: initial;
        display: block;
    }   
    .close-menu-icon {
        display: none;
    }
    .menu-list {
        flex-direction: row;
        gap: var(--spacing-400);
    }
    .menu-list a {
        font-weight: normal;
        font-size: var(--fs-300);
        color: var(--clr-grey-500);
    }
    .no-scroll {
        overflow: initial;
    }

    
}