:root {
    /* TOKENS */

    /* color */
    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-grey-950: #1D2026; 
    --clr-grey-500: #69707D; 
    --clr-grey-400: #979797; 
    --clr-grey-300: #C3CAD9; 
    --clr-grey-100: #E4E9F2; 
    --clr-grey-50: #F6F8FD; 

    --clr-orange-500: #FF7E1B; 
    --clr-orange-300: #FFAB6A; 

    /* font */
    --base-font: 'Kumbh Sans', sans-serif;

    --fs-600: 2.75rem ; /* 44px */
    --fs-500: 1.75rem ; /* 28px */
    --fs-400: 1.125rem ; /* 18px */
    --fs-350: 1rem; /* 16px */
    --fs-300: 0.9375rem ; /* 15px */
    --fs-200: 0.8125rem ; /* 13px */
    --fs-100: 0.75rem ; /* 12px */
    --fs-50: 0.625rem ; /* 10px */

    --fw-extra-bold: 800;
    --fw-bold: 700;
    --fw-medium: 500;
    --fw-regular: 400;

    /* line height */
    --lh-xxl: 3rem ; /* 48px */ 
    --lh-xl: 2rem ; /* 32px */ 
    --lh-l: 1.625rem ; /* 26px */ 
    --lh-m: 1rem ; /* 16px */ 
    --lh-s: 0.9375rem ; /* 15px */ 

    /* letter spacing */
    --ls-l: 0.125rem ; /* 2px */ 
    --ls-s: 0.1156rem ; /* 1.85px */ 

    /* border radius */
    --br-xxl: 50%; /* 50% */
    --br-xl: 0.9375rem; /* 15px */
    --br-l: 0.625rem; /* 10px */
    --br-m: 0.5rem; /* 8px */
    --br-s: 0.375rem; /* 6px */

    /* spacing */
    --spacing-1600: 8rem; /* 128px */
    --spacing-1300: 6.5rem; /* 104px */
    --spacing-1200: 6rem; /* 96px */
    --spacing-1000: 5rem; /* 80px */
    --spacing-900: 4.5rem; /* 72px */
    --spacing-700: 3.5rem; /* 56px */
    --spacing-600: 3rem; /* 48px */
    --spacing-500: 2.5rem; /* 40px */
    --spacing-400: 2rem; /* 32px */
    --spacing-300: 1.5rem; /* 24px */
    --spacing-200: 1rem; /* 16px */
    --spacing-100: 0.5rem; /* 8px */

    /* box shadow */
    --bs: 0px 20px 50px rgba(29, 32, 38, 0.10);

    /* COMPONENT TOKENS */
    --body-p: calc(var(--spacing-200) + 3px) var(--spacing-300) calc(var(--spacing-900) - 2px);

    --avatar-width: 1.5rem /* 24px */
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

input, select, button, textarea {
    font: inherit;
    color: inherit;
}

iframe, video, canvas {
    width: 100%;
    object-fit: cover;
    line-height: 0;
    display: block;
}

body {
    background-color: #f1f3f5;
    font-family: var(--base-font);
    min-height: 100%;
    padding: var(--body-p);
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* wrapper */
.wrapper-max-w {
    position: relative;
}

/* header */
.main-header {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--spacing-300) + 2px);
}

.menu-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--spacing-200);
    border: none;
}

.menu-icon {
    justify-self: end;
    fill: var(--clr-grey-950);
}

.logo-container {
    margin-right: auto;
}

.logo-icon {
    color: var(--clr-grey-950);
    width: 8.5938rem; /* 137.5px */
    height: 1.25rem; /* 120px */
}

/* menu */
.blur-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
    display: none;
}

.menu-container {
    background-color: var(--clr-white);
    position: absolute;
    top: 0;
    left: 0;
    width: 15.625rem; /* 250px */
    padding: var(--spacing-300);
    height: 100vh;
    z-index: 1;
    display: none;
}

.cart-menu-container {
    position: absolute;
    top: calc(var(--spacing-900) + 4px); /* 76px */
    right: 0;
    width: calc(var(--spacing-500) * 9); /* 360px */
    background-color: var(--clr-white);
    max-width: 22.5rem; /* 360px */
    height: 16rem; /* 256px */
    border-radius: var(--br-l);
    padding: var(--spacing-100);
    font-size: var(--fs-350);
    font-weight: var(--fw-bold);
    color: var(--clr-grey-950);
    line-height: var(--lh-l);
    text-align: left;
    box-shadow: var(--bs);
}

.cart-menu-title {
   padding: calc(var(--spacing-300) / 2) 0px var(--spacing-300) 0px;
   border-bottom: 1px solid var(--clr-grey-400);
   font-size: inherit;
}

.cart-menu-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 58px);
    color: var(--clr-grey-400);
    overflow-Y: auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.close-menu-icon {
    margin-bottom: var(--spacing-700);
    cursor: pointer;
}

.close-menu {
    display: none;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.menu-list a {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    line-height: var(--lh-l);
    color: var(--clr-grey-950);
}

.no-scroll {
    height: 100vh;
    overflow: hidden;
}


/* cart */
.cart-icon-container {
    display: flex;
    align-items: end;
    justify-content: start;
    width: calc(var(--spacing-300) + 4px);
    height: var(--spacing-300);
    margin-right: var(--spacing-300);
    border: none;
}

.cart-number-display-container {
    background-color: var(--clr-orange-500);
    position: absolute;
    top: 0;
    right: 0;
    width: calc(var(--spacing-200) + 3px);
    height: calc(var(--spacing-200) - 3px);;
    font-size: var(--fs-50);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-s);
    border-radius: calc(var(--br-s) + 0.5px);
    font-weight: var(--fw-bold);
    color: var(--clr-white);
}

.cart-icon {
    width: calc(var(--spacing-300) - 2.18px);
    height: calc(var(--spacing-300) - 4px);
    fill: var(--clr-grey-950);
}

#avatar-container {
   width: var(--avatar-width);
   height: var(--avatar-width);
   flex-shrink: 0;
}

.avatar-image {
    line-height: 0;
    display: block;
    object-fit: cover;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

