:root {
    /* TOKENS */

    /* colors */
    --clr-grey-900: #2A4144;
    --clr-grey-500: #86A2A5;

    --clr-white: #ffffff;

    --clr-green-600: #0C7D69;
    --clr-green-200: #E0F1E8;

    --clr-red: #D73C3C;


    /* font */
    --base-font: 'Karla', sans-serif;


    --fs-300: 2rem ; /* 32px */
    --fs-200: 1.125rem ; /* 18px */
    --fs-100: 1rem ; /* 16px */

    --fw-bold: 700;
    --fw-regular: 400;

    /* spacing */
    --spacing-1600: 8rem; /* 128px */
    --spacing-500: 2.5rem; /* 40px */
    --spacing-400: 2rem; /* 32px */
    --spacing-300: 1.5rem; /* 24px */
    --spacing-200: 1rem; /* 16px */
    --spacing-150: 0.75rem; /* 12px */
    --spacing-100: 0.5rem; /* 8px */

    /* line height */
    --lh-l: 1.5; /* 150% */

    /* letter spacing */
    --ls-s: -0.0625rem; /* -1px */

    /* border radius */
    --br-m: 1rem; /* 16px */
    --br-s: 0.5rem; /* 8px */


    /* COMPONENT TOKENS */
    --body-p: var(--spacing-400) var(--spacing-200);
    --card-p: var(--spacing-300);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

button, input, textarea, select {
    font: inherit;
    color: inherit;
}

img, svg, iframe, canvas, video {
    width: 100%;
    line-height: 0;
    display: block;
    object-fit: cover;
}

body {
    min-height: 100vh;
    font-family: var(--base-font);
    background-color: var(--clr-green-200);
    padding: var(--body-p);
    color: var(--grey-900);
}

/* card */
.card {
    background-color: var(--clr-white);
    border-radius: var(--br-m);
    padding: var(--card-p);
}

/* title */
.title {
    margin-bottom: var(--spacing-400);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    letter-spacing: var(--ls-s);
}

/* form */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    clip: path(0, 0, 0, 0);
    clip-path: inset(50%);
    padding: 0;
    border: 0;
}

fieldset {
    border: 0;
    outline: 0;
}

.field {
    margin-top: var(--spacing-300);
}


label {
    /* display: block; */
}

input, textarea, button {
    cursor: pointer;
}

input:not([type=radio]), textarea, .radio-group {
    padding: var(--spacing-150) var(--spacing-300);
    border: 1px solid var(--clr-grey-500);
    margin-block: var(--spacing-100);
}

input[type=text], input[type=email], button, .radio-group, .message-area {
    width: 100%;
    border-radius: var(--br-s);
}

button {
     border: none;        
     padding: var(--spacing-200);
     background-color: var(--clr-green-600);
     color: var(--clr-white);
     font-size: var(--fs-200);
     font-weight: var(--fw-bold);
     line-height: var(--lh-s);
     margin-top: var(--spacing-500);
}

.error-text {
    color: var(--clr-red);
    /* visibility: hidden; */
}


/* query type */
.radio-group {
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid var(--clr-grey-500);
    gap: var(--spacing-150);
    font-size: var(--fs-200);
    line-height: var(--lh-l);
}

input[type=radio] {
    accent-color: var(--clr-green-600);
    width: 1.2188rem; /* 19.5px; */
    height: 1.2188rem; /* 19.5px; */
}

/* message */
.message-area {
    resize: none;
    font-size: var(--fs-200);
    line-height: var(--lh-l);
    height: 240px;
}


/* consent */
.content-field {
    margin-top: var(--spacing-500);
}

input[type=checkbox] {
    accent-color: var(--clr-green-600);
    width: 19px;
    height: 19px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
    font-size: var(--fs-100);
    line-height: var(--lh-l);
}

.required-star {
    color: var(--clr-green-600);
    font-size: var(--fs-100);
    line-height: var(--lh-l);
    margin-left: var(--spacing-100);
}

.error-text {
    visibility: hidden;
}

.renderInvalid {
    border: 1px solid var(--clr-red) !important;
}

.renderValid {
    border: 1px solid var(--clr-green-600) !important;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) { 

  :root {
    --body-p: var(--spacing-1600) var(--spacing-500);

  }
  .card {
    margin: auto;
    max-width: 43.125rem;
  }
  .form-row {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--spacing-300);
  }

  .form-group {
    width: 100%;
  }

  .radio-row {
    display: flex !important;
  }

  .message-area {
    height: initial;
  }

  .ln.field {
    margin-top: initial;
  }
}