:root {
    /* TOKENS */

    /* color */
    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-grey-300: #C5C6CE;
    --clr-grey-200: #D8D8D8;

    --clr-navy-950: #00001A;
    --clr-navy-600: #5E607A;

    --clr-gold-400: #E9AA52;

    --clr-red-500: #F15D51;


    /* font */
    --base-font: 'Inter', sans-serif;

    --fs-700: 3.5rem; /* 56px */;
    --fs-600: 2.5rem; /* 40px */;
    --fs-500: 2rem; /* 32px */;
    --fs-400: 1.25rem; /* 20px */;
    --fs-300: 1.125rem; /* 18px */;
    --fs-200: 0.9375rem; /* 15px */;
    --fs-100: 0.875rem; /* 14px */;

    --fw-extra-bold: 800;
    --fw-bold: 700;
    --fw-medium: 600;
    --fw-regular: 400;

    /* line height */
    --lh-xxl: 3.5rem; /* 56px */
    --lh-xl: 2.5rem; /* 40px */
    --lh-l: 2rem; /* 32px */
    --lh-m: 1.625rem; /* 26px */
    --lh-s: 1.5rem; /* 24px */

    /* letter spacing */
    --ls-l: 0.2737rem; /* 4.38px */

    /* spacing */
    --spacing-600: 5.5rem; /* 88px */
    --spacing-500: 4rem; /* 64px */
    --spacing-400: 2.5rem; /* 40px */
    --spacing-300: 2rem; /* 32px */
    --spacing-200: 1.5rem; /* 24px */
    --spacing-100: 0.5rem; /* 8px */

    /* COMPONENT TOKENS */
    --body-pr: 1rem; /* 16px */
    --body-p: 1.75rem var(--body-pr) 5rem; /* 28px 16px 80px */
    --logo-w: 2.8112rem; /* 44.98px */
    --logo-h: 1.75rem; /* 28px */

    /* menu modal */
    --menu-modal-p: 1.6875rem 1.375rem; /* 27px 22px */
    --menu-modal-w: 16rem /* 256px */
}

/* general */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scrollbar-gutter: steady;
    scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

img, svg, iframe, canvas, video {
    display: block;
    line-height: 0;
    width: 100%;
    object-fit: cover;
}

button, select, textarea, input, a {
    font: inherit;
    color: inherit;
}

body {
    min-height: 100vh;
    font-family: var(--base-font);
    padding: var(--body-p);
    position: relative;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.logo-icon {
    width: var(--logo-w);
    height: var(--logo-h);
}


/* menu */
.menu-icon {
    width: 2.5rem; /* 40px */
    height: 1.0625rem; /* 17px */
    cursor: pointer;
}

.menu-container {
    display: none;
}

.menu-list {
    display: flex;
    gap: var(--spacing-400);
}

.menu-item {
    list-style: none;
}

.menu-item a:hover, .menu-item a:active {
    color: var(--clr-red-500);
}


a {
    text-decoration: none;
}

/* modal menu */
.modal-menu {
    background-color: var(--clr-white);
    /* background-color: dodgerblue; */
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: var(--menu-modal-w);
    padding: var(--menu-modal-p);
    isolation: isolate;
}

.close-modal-menu-icon {
    --modal-w-and-h: 1.9006rem; /* 30.41px */
    width: var(--modal-w-and-h);
    height: var(--modal-w-and-h);
    justify-self: end;
    margin-bottom: var(--spacing-600);
    cursor: pointer;
    position: absolute;
    right: var(--body-pr);
}

.modal-menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    margin-top: 7.4006rem; /* 118.41px */
}

.showMenu {
    display: block !important;
}

.hideMenu {
    display: none !important;
}

.blur-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 26, 0.5);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}



/* MEDIA QUERIES */
/* tablet */
@media screen and (min-width: 768px) {
    :root {
        /* body */
        --body-pr: 5rem; /* 80px */
        --body-p: 1.75rem var(--body-pr) 5rem; /* 28px 80px 80px */
        /* menu modal */
        --menu-modal-p: 1.6875rem 2.25rem; /* 27px 36px */
        --menu-modal-w: 19.5rem /* 312 */
    }

     .close-modal-menu-icon {
        /* margin-right: var(--body-pr); */
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    :root {
        /* body */
        --body-p: 5.5625rem 10.25rem 7.875rem; /* 89px 164px 126px */
        /* header */
        --icon-w: 4.0056rem; /* 64.09px */
        --icon-h: 2.4937rem; /* 39.9px */
    }

    .menu-icon {
        display: none;
    }

    .menu-container {
        display: block;
    }

    .modal-menu, .blur-wrapper {
        display: none !important;
    }
}

