:root {
    font-size: 62.5%;

    /* VARIABLES */

    /* colors */

    --white: #FAFAFA;

    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;

    --purple-600: #855FB1;
    --purple-300: #D9B8FF;

    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;

    /* font */
    --font-stack: "Red Hat Display", sans-serif;

    --font-size-64: 6.4rem;
    --font-size-40: 4rem;
    --font-size-18: 1.8rem;
    --font-size-16: 1.6rem;

    --font-weight-900: 900;
    --font-weight-500: 500;

    /* line height */
    --line-height-1p5: 1.5rem;
    --line-height-1p1: 1.1rem;

    /* letter spacing */
    --letter-spacing-4: 4px;

    /* spacing */
    --margin-112: 11.2rem;
    --margin-80: 8rem;
    --margin-72: 7.2rem;
    --margin-64: 6.4rem;
    --margin-56: 5.6rem;
    --margin-40: 4rem;
    --margin-32: 3.2rem;
    --margin-24: 2.4rem;
    --margin-16: 1.6rem;
    --margin-8: 0.8rem;
    --margin-4: 0.4rem;

    --padding-112: 11.2rem;
    --padding-80: 8rem;
    --padding-72: 7.2rem;
    --padding-64: 6.4rem;
    --padding-56: 5.6rem;
    --padding-48: 4.8rem;
    --padding-40: 4rem;
    --padding-32: 3.2rem;
    --padding-24: 2.4rem;
    --padding-16: 1.6rem;
    --padding-8: 0.8rem;
    --padding-4: 0.4rem;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: var(--white);
    padding-top: var(--padding-48);
    overflow: hidden;
}

img {
    display: block;
    line-height: 0;
    width: 100%;
}

/* logo */
.logo-container {
    text-align: center;
    margin-bottom: 64px;
}

.logo {

}

/* hero */
.hero-container {
    width: 100%;
    height: clamp(160px, 40vw, 303px);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.hero-image-container {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-shrink: 0;
    gap: 0;
}

.hero-image-right {
    margin-left: 4vw;
}
