:root {
    font-size: 62.5%;

    /* VARIABLES */

    /* colors */

    --white: #FAFAFA;

    --cyan-600: rgb(77, 150, 169);
    --cyan-600-rgba: rgb(77, 150, 169, 0.9);
    --cyan-300: #8FE3F9;

    --purple-600: #855FB1;
    --purple-300: #D9B8FF;

    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;

    /* font */
    --font-stack: "Red Hat Display", sans-serif;

    --font-size-64: 6.4rem;
    --font-size-48: 4.8rem;
    --font-size-40: 4rem;
    --font-size-32: 3.2rem;
    --font-size-18: 1.8rem;
    --font-size-16: 1.6rem;
    --font-size-12: 1.2rem;

    --font-weight-900: 900;
    --font-weight-500: 500;

    /* line height */
    --line-height-1p5: 1.5;
    --line-height-1p1: 1.1;

    /* letter spacing */
    --letter-spacing-4: 4px;

    /* spacing */
    --margin-112: 11.2rem;
    --margin-80: 8rem;
    --margin-72: 7.2rem;
    --margin-64: 6.4rem;
    --margin-56: 5.6rem;
    --margin-48: 4.8rem;
    --margin-40: 4rem;
    --margin-32: 3.2rem;
    --margin-24: 2.4rem;
    --margin-16: 1.6rem;
    --margin-8: 0.8rem;
    --margin-4: 0.4rem;

    --padding-112: 11.2rem;
    --padding-80: 8rem;
    --padding-72: 7.2rem;
    --padding-64: 6.4rem;
    --padding-56: 5.6rem;
    --padding-48: 4.8rem;
    --padding-44: 4.4rem;
    --padding-40: 4rem;
    --padding-35: 3.5rem;
    --padding-32: 3.2rem;
    --padding-24: 2.4rem;
    --padding-19: 1.9rem;
    --padding-16: 1.6rem;
    --padding-8: 0.8rem;
    --padding-4: 0.4rem;

    --gap-64: 6.4rem;
    --gap-48: 4.8rem;
    --gap-24: 2.4rem;
    --gap-16: 1.6rem;
    --gap-4: 0.4rem;

    /* other */
    --border-radius-29: 29px;
    --border-radius-8: 8px;
    
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: var(--white);
    padding-top: var(--padding-48);
    font-family: var(--font-stack);
}

img {
    display: block;
    line-height: 0;
    width: 100%;
}

/* logo */
.logo-container {
    text-align: center;
    /* margin-bottom: var(--margin-64); */
    margin: 0 auto var(--margin-64);
}

/* hero */
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: clamp(160px, 40vw, 360px) auto;
  row-gap: var(--gap-48);
  column-gap: var(--gap-16);
 overflow-x: hidden;
 justify-content: center;
}

.hero-image-container1 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
}

.hero-image-container2 {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
}

.hero-img {
    height: 100%;
    width: auto;
}

.hero-image-right {
    /* transform: translateX(-20px); */
}

.hero-image-left {
    /* transform: translateX(-32px); */
}


/* hero text */
.hero-text-container {  
    /* justify-self: center; */
    grid-column: 1/-1;
    grid-row: 2/3;
     text-align: center;
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: var(--gap-24);
}

.hero-title {
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-900);
    line-height: var(--line-height-1p1);
    color: var(--slate-900);
}

.hero-description {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-1p5);
    color: var(--slate-600);
}

/* hero text */
.hero-text-container {
    padding-inline: var(--padding-35);
    padding-bottom: var(--padding-32);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-16);
}

.button-container a {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    padding-block: var(--padding-16);
    padding-inline: var(--padding-40);
    border-radius: var(--border-radius-29);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-900);
    line-height: var(--line-height-1p5);
    color: var(--white);
}

.download-btn {
    background-color: var(--cyan-600);
    display: flex;
    gap: var(--gap-4);
}

.download-btn-version {
    color: var(--cyan-300);
}

.what-btn {
    background-color: var(--purple-600);
}


/* main */
.main-container {
    padding: var(--padding-32) var(--padding-32) var(--padding-64) var(--padding-32);
    display: flex;
    flex-direction: column;
    gap: var(--gap-64);
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    flex-direction: column;
}

.separator::before {
    content: "";
    width: 1px;
    height: 80px;
    background-color: var(--slate-300);
}

.separator-title {
    border: 1px solid var(--slate-300);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: var(--slate-600);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-900);
    line-height: var(--line-height-1p5);
    background-color: var(--white);
}

/* gallery */
.gallery {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: var(--gap-16);
}
.gallery-img {
    border-radius: var(--border-radius-8);
  
}

/* information */
.information-container {
    text-align: center;
}

.information-label {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-900);
    line-height: var(--line-height-1p1);
    color: var(--cyan-600);
    letter-spacing: var(--letter-spacing-4);
    text-transform: uppercase;
    margin-bottom: var(--margin-16);
}

.information-title, .footer-title {
   font-size: var(--font-size-32);
    font-weight: var(--font-weight-900);
    line-height: var(--line-height-1p1);
    color: var(--slate-900);
     margin-bottom: var(--margin-32);
}


.information-description, .footer-description {
   font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-1p5);
    color: var(--slate-600);
}

/* footer */
.footer {
    /* position: relative; */
    background-image: linear-gradient(var(--cyan-600-rgba), var(--cyan-600-rgba)), 
    url('../images/tablet/image-footer.jpg');
    background-position: center top;
    height: 375px;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--padding-32);
    padding-block: var(--padding-64);
    /* gap: var(--gap-24); */
    margin-top: -28px;
}


.footer-title, .footer-description {
     color: var(--white);
     margin-bottom: 0;
}

.footer .download-btn {
    background-color: var(--purple-600);
    text-decoration: none;
}

.footer .download-btn-version {
  color: var(--purple-300);
}

