/* tablet */
@media screen and (min-width: 768px) {
    .hero-container {
    margin-bottom: var(--margin-72);
}

.hero-title {
    font-size: var(--font-size-48);
    max-inline-size: 10ch;
}

.hero-description {
    max-inline-size: 40ch;
}

.button-container {
    flex-direction: row;
}

.hero-text-container {
    padding-inline: var(--padding-44);
    padding-bottom: var(--padding-64);
}

.main-container {
    padding: var(--padding-56) var(--padding-44) var(--padding-64) var(--padding-44);
    display: flex;
    flex-direction: column;
    gap: var(--gap-64);
    align-items: center;
    margin: initial auto;
}

.gallery {
    grid-template-columns: repeat(4, 1fr);
    row-gap: var(--gap-24);
}

.information-description {
    max-inline-size: 47ch;
}

.footer {
    height: 320px;
    padding-inline: var(--padding-132);
    margin-top: -28px;
}

.footer-description {
      max-inline-size: 48ch;
}
}

/* desktop */
@media screen and (min-width: 1440px) {
    body {
    padding-top: var(--padding-80);
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 540px 1fr;
  grid-template-rows: 1fr;
  row-gap: 0;
  column-gap: 60px;
  overflow-x: initial;
}

.hero-image-container1 {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    transform: translateY(-57px);
}

.hero-image-container2 {
    grid-column: 3;
    grid-row: 1;
    justify-self: start;
}

.hero-text-container { 
    padding: 0; 
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    gap: var(--gap-32);
}

.hero-title {
    font-size: var(--font-size-64);
}

.hero-description {
    font-size: var(--font-size-18);
}

.main-container {
    padding: var(--padding-56) var(--padding-160) var(--padding-72) var(--padding-160);
    display: flex;
    flex-direction: column;
    gap: var(--gap-64);
}

.gallery {
    grid-template-columns: repeat(4, 1fr);
    row-gap: var(--gap-32);
    margin-inline: auto;
}

.footer {
    height: 312px;
    padding-inline: var(--padding-160);
    padding-block: var(--padding-112);
    margin-top: -28px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
     text-align: left;
     align-content: center;
}

.footer-title {
   align-self: start;
}

.footer-description {
    align-self: start;
}

.footer .button-container {
    /* background-color: red; */
     align-self: start;
    padding-left: 63px;
}
}