.option-item.submit-answer, .option-item.next-question{
    color: var(--submit-btn-f-clr);
    background-color: var(--submit-btn-clr);
    text-align: center;
}

.option-item.submit-answer .option-button, .option-item.next-question .option-button {
    justify-content: center;
}

