.option-item.submit-answer{
    color: var(--submit-btn-f-clr);
    background-color: var(--submit-btn-clr);
    text-align: center;
}

.option-item.submit-answer .option-button {
    justify-content: center;
}

