:root {
    font-size: 62.5%;

    /* VARIABLES */

    --color-black: #1C232B;
    --color-grey: #6C7289;
    --color-cream: #F2EAE2;
    --color-white: #FFFFFF;
    --color-green-700: #1A4032;
    --color-green-500: #3D8168;

    /* font */
    --font-family-fraunces: 'Fraunces', serif;
    --font-family-montserrat: 'Montserrat', sans-serif;

    --font-size-32: 3.2rem;
    --font-size-14: 1.4rem;
    --font-size-13: 1.3rem;
    --font-size-12: 1.2rem;

     --font-weight-900: 900;
    --font-weight-800: 800;
    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-weight-300: 300;
    --font-weight-200: 200;
    --font-weight-100: 100;

    /* letter spacing */
    --letter-spacing-5: 0.5rem;

    /* line height */
    --line-height-1p: 1;
    --line-height-1p2: 1.2;
    --line-height-1p1: 1.1;
    --line-height-1p6: 1.6;

    /* margin */
    --margin-40: 4rem;
    --margin-32: 3.2rem;
    --margin-24: 2.4rem;
    --margin-16: 1.6rem;
    --margin-8: 0.8rem;
    --margin-4: 0.4rem;

    /* padding */
    --padding-40: 4rem;
    --padding-32: 3.2rem;
    --padding-24: 2.4rem;
    --padding-16: 1.6rem;
    --padding-8: 0.8rem;
    --padding-4: 0.4rem;


    /* border radius */
    --border-radius-8: 8px;

    /* gap */
    --gap-8: 8px;
    --gap-24: 24px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--color-cream);
    min-height: 100vh;
    padding-inline: calc(var(--padding-8) + var(--padding-4));
}

img {
    display: block;
    line-height: 0;
    object-fit: cover;
    width: 100%;
}

main {
    padding-top: 80px;
    padding-bottom: 172px;
    height: 100%;
    width: 100%;
}

/* card */
.card-container {
    border-radius: var(--border-radius-8);
    overflow: hidden;
    background-color: var(--color-white);
    width: 100%;
    margin: 0 auto;
}

/* card content */
.card-content-container {
    padding: var(--padding-32);
    display: flex;
    flex-direction: column;
    gap: var(--gap-24);
    justify-content: center;
}

.card-label {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-1p2);
    letter-spacing: var(--letter-spacing-5);
    text-transform: uppercase;
    color: var(--color-grey);
}

.card-title {
    font-family: var(--font-family-fraunces);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-1p);
    color: var(--color-black);
}

.card-description {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-1p6);
    color: var(--color-grey);
}

.card-price-container {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-8) * 2);
}

.card-price {
    font-family: var(--font-family-fraunces);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-1p);
    color: var(--color-green-500);
}

.card-price-old {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-1p2);
    color: var(--color-grey);
    text-decoration: line-through;
}

.cart-icon {
    width: 18px;
    height: 18px;
}

.card-button {
    background-color: var(--color-green-500);
    border-radius: var(--border-radius-8);
    color: var(--color-white);
    display: flex;
    gap: var(--gap-8);
    justify-content: center;
    padding: var(--padding-16);
    border: none;
    margin: 0;
}

.card-button:hover {
    background-color: var(--color-green-700);
    cursor: pointer;
}

.card-button-text {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-1p1);
}

