@media screen and (min-width: 600px) {
    main {
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;  
    }
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        max-width: 600px;
    }
    .card-image-container {
        grid-column: 1/2;
    }
     .card-content-container {
        grid-column: 2/-1;
    }
}