.result-card-container {
  background-color: var(--clr-li-bg);
  box-shadow: var(--list-item-shadow);
  border-radius: var(--results-card-container-br);
  padding: var(--results-card-p);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-title {
  font-size: var(--results-card-score-title-fs);
  font-weight: var(--fw-medium);
  color: var(--results-title-clr);
  margin-block: var(--results-card-score-title-m-block);
}

.score-subtitle {
  font-size: var(--results-card-score-subtitle-fs);
  font-weight: var(--fw-medium);
  color: var(--score-subtitle-clr);
}

@media screen and (min-width: 768px) {
  .score-subtitle {
    line-height: var(--lh-l);
  }
}
