@use 'variables';
@use 'mixins';
@use 'global';
@use 'media-queries';

// header
.logo-container {
    height: 53.14px;
    margin: 50px auto 48.85px auto;
    text-align: center;
    width: 86.66px;
}

.logo {
    height: 100%;
    width: 100%;
}