@use "variables";
@use "mixins";
@use "global";

// body
body {
  display: flex;
  flex-direction: column;
}

// header
.logo-container {
  height: 53.14px;
  margin: 50px auto 48.85px auto;
  text-align: center;
  width: 86.66px;
}

.logo {
  height: 100%;
  width: 100%;
}

// card
.tip-card {
  background-color: variables.$clr-white;
  border-radius: variables.$br-l variables.$br-l 0 0;
  padding-inline: variables.$space-300;
  padding-block: variables.$space-400;
  display: flex;
  flex-direction: column;
  gap: variables.$space-400;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}

// input
.input-group-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: variables.$space-100;
}

.tp5 {
  font-weight: variables.$fw-700;
  font-size: variables.$fs-100;
  line-height: variables.$lh-m;
  color: variables.$clr-grey-500;
}

.tp6 {
  font-weight: variables.$fw-700;
  font-size: variables.$fs-50;
  line-height: variables.$lh-s;
  color: variables.$clr-grey-400;
}

.tp1 {
  font-weight: variables.$fw-700;
  font-size: variables.$fs-300;
  line-height: variables.$lh-s;
  color: variables.$clr-green-400;
  letter-spacing: variables.$ls-s;
}

button {
  width: 100%;
}

input[type="number"]::placeholder {
  color: variables.$clr-green-900;
  opacity: 35%;
}

input {
  width: 100%;
  text-align: right;
  padding-block: 6px;
  padding-inline: 0 18.37px;
  border: none;
  background: none;
  outline: none;
}

.input-container:focus-within:not(.buttons-container),
.custom-btn:focus-within {
  outline: 2px solid blue;
}

.tp3 {
  font-weight: variables.$fw-700;
  font-size: variables.$fs-200;
  line-height: variables.$lh-xl;
  color: variables.$clr-green-900;
}

.tp3.tip-btn {
  color: variables.$clr-white;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: variables.$clr-grey-50;
  border-radius: variables.$br-s;
}

.icon-container {
  margin-left: 18.37px;
}

.dollar-icon-container {
  width: 9.84px;
  height: 15.46;
}

.person-icon-container {
  width: 13px;
  height: 16px;
}

.input-icon {
  width: 100%;
  height: 100%;
}

// tip buttons
.buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  gap: variables.$space-200;
}

.tip-btn {
  background-color: variables.$clr-green-900;
  border: none;
  padding: calc(#{variables.$space-100} - 2px);
  border-radius: variables.$br-s;
}

.tip-btn:hover:not(.custom-btn) {
  cursor: pointer;
}

.tip-btn:active {
  background-color: variables.$clr-green-200;
  color: variables.$clr-green-900;
}

.custom-btn::placeholder {
  background-color: variables.$clr-grey-50 !important;
  color: variables.$clr-grey-550;
  text-align: center;
}

#custom-btn {
  background: none;
  color: variables.$clr-green-900;
}

// Number of people

// Bottom
.bottom {
  background-color: variables.$clr-green-900;
  padding-block: 29.5px;
  padding-inline: 23px;
  border-radius: variables.$br-m;
}

.amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-amount {
  margin-bottom: variables.$space-300;
}

.total-amount {
  margin-bottom: variables.$space-400;
}

.text-container {
  h3 {
    color: variables.$clr-white;
  }

  p {
    color: variables.$clr-grey-400;
  }
}

.tp8 {
  font-weight: variables.$fw-700;
  font-size: variables.$fs-50;
  line-height: variables.$lh-s;
  color: variables.$clr-grey-400;
}

.reset-btn {
  background-color: variables.$clr-green-750;
  padding-block: 9px;
  padding-inline: 32px;
  border-radius: variables.$br-s;
  border: none;
  cursor: pointer;
}

.reset-btn:not(:disabled):hover {
  background-color: variables.$clr-green-200 !important;
  color: variables.$clr-green-900 !important;
}

.tp9 {
  font-weight: variables.$fw-700;
  font-size: calc(#{variables.$fs-100} + 4px);
  line-height: variables.$lh-l;
  color: variables.$clr-green-800;
}

// selected-tip
.selected-tip {
  background-color: variables.$clr-green-400 !important;
  color: variables.$clr-green-900 !important;
}

// Number Of People error
.label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.people-error-msg {
  color: variables.$clr-orange-400;
  margin-left: auto;
}

// MEDIA QUERIES
// Tablet
@media screen and (min-width: 768px) {
  body {
    padding: 0 variables.$space-1000 variables.$space-1000;
  }

  .tip-card {
    margin: 0 auto;
    padding-block: 54px;
    padding-inline: 75.5px;
    box-shadow: variables.$bs-m;
    border-radius: variables.$br-l;
    gap: 40px;
    max-width: 608px;
  }

  .top {
    gap: 24px;
  }

  .buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: variables.$space-200;
  }

  .bottom {
    padding-block: 43px;
    padding-inline: 47.5px;
    // display: flex;
    // flex-direction: column;
  }

  .amount-container {
    // padding-block: 14px;
    // margin-bottom: 8px;
  }

  .tip-amount {
  margin-bottom: 8px;
}

.total-amount {
  margin-bottom: 16px;
}

  .tp1 {
    font-weight: variables.$fw-700;
    font-size: variables.$fs-500;
    line-height: variables.$lh-xxxl;
    color: variables.$clr-green-400;
    letter-spacing: variables.$ls-m;
  }
}

// Desktop
@media screen and (min-width: 1440px) {

  .logo-container {

  margin: 163px auto 87.86px auto;
 
}

  .tip-card {
    max-width: fit-content;
    display: grid;
    grid-template-columns: 379px 413px;
    grid-template-rows: auto;

    padding-block: 32px;
    padding-inline: 40px;
    
    gap: 48px;
    // align-items: center;
    // justify-content: center;

  }

  .top {
    gap: 40px;
    height: fit-content;
    padding-block: 16.5px;
  }

  .bottom {
    padding-block: 37.5px;
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

    .tip-amount {
  margin-bottom: 24px;
}

.total-amount {
  margin-bottom: auto;
}



}
