@use "variables";
@use "mixins";
@use "global";
@use "media-queries";

// body
body {
  display: flex;
  flex-direction: column;
}

// header
.logo-container {
  height: 53.14px;
  margin: 50px auto 48.85px auto;
  text-align: center;
  width: 86.66px;
}

.logo {
  height: 100%;
  width: 100%;
}

// card
.tip-card {
  background-color: variables.$clr-white;
  flex: 1;
  border-radius: variables.$br-l variables.$br-l 0 0;
  padding-inline: variables.$space-300;
  padding-block: variables.$space-400;
}

.top {
    display: flex ;
  flex-direction: column ;
  gap: 32px ;
}

// input
.input-group-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: variables.$space-100;
}
label {
  font-weight: variables.$fw-700;
  font-size: variables.$fs-100;
  line-height: variables.$lh-m;
  color: variables.$clr-grey-500;
}

input[type=number]::placeholder {
    opacity: 35%;
}
input {
  width: 100%;
  text-align: right;

  padding-block: 6px;
  padding-inline: 0 18.37px;
  border: none;
  background: none;
}

.tp3 {
    font-weight: variables.$fw-700;
    font-size: variables.$fs-200;
    line-height: variables.$lh-xl;
    color: variables.$clr-green-900;
}

.tp3.tip-btn {
    color: variables.$clr-white;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: variables.$clr-grey-50;
  border-radius: variables.$br-s;
  overflow: hidden;
}

.dollar-icon-container {
  margin-left: 18.37px;
  width: 9.84px;
  height: 15.46;
}

.dollar-icon {
    width: 100%;
    height: 100%;
}

// tip buttons
.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: variables.$space-200;
}

.tip-btn {
    background-color: variables.$clr-green-900;
    border: none;
    // outline: none;
    padding: calc(#{variables.$space-100} - 2px);
    border-radius: variables.$br-s;
}

.tip-btn.custom-btn {
    background-color: variables.$clr-grey-50;
    color: variables.$clr-grey-550;
    text-align: center;
}