:root {
    font-size: 62.5%;

    /* VARIABLES */

    /* colors */
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --blue: hsl(212, 86%, 64%);
    --orange: hsl(34, 97%, 64%);
    --white: hsl(0, 0%, 100%);

    /* font */
    --font-poppins: "Poppins", sans-serif;

    --font-size-36: 3.6rem;
    --font-size-24: 2.4rem;
    --font-size-20: 2rem;
    --font-size-15: 1.5rem;
    --font-size-13: 1.3rem;

    --font-weight-200: 200;
    --font-weight-400: 400;
    --font-weight-600: 600;

    --line-height-1p6: 1.6;
    --line-height-1p4: 1.4;
    --line-height-1p35: 1.35;

    --letter-spacing-0: 0;
    --letter-spacing-0p1: 0.1px;
    --letter-spacing-0p25: 0.25px;
    --letter-spacing-0p09: 0.09px;

    /* spacing */
    --margin-60: 6rem; 
    --margin-40: 4rem; 
    --margin-32: 3.2rem; 
    --margin-24: 2.4rem; 
    --margin-16: 1.6rem; 
    --margin-15: 1.5rem; 
    --margin-8: 0.8rem; 
    --margin-6: 0.6rem; 

    --padding-56: 5.6rem; 
    --padding-40: 4rem; 
    --padding-32: 3.2rem; 
    --padding-30: 3rem; 
    --padding-24: 2.4rem; 
    --padding-16: 1.6rem; 
    --padding-8: 0.8rem; 

    --gap-16: 1.6rem;

    --border-radius-8: 8px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

img {
    display: block;
    line-height: 0;
    width: 100%;
    object-fit: cover;
}

body {
    min-height: 100vh;
    font-family: var(--font-poppins);
    font-size: var(--font-size-15);
    padding-block: var(--padding-56);
    padding-inline: var(--padding-30);
    background-color: var(--white);
}


/* header */
.header-container {
    text-align: center;
    color: var(--grey-500);
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
    line-height: var(--line-height-1p4);
    margin-bottom: var(--margin-60);
}

.title {
    font-size: clamp(var(--font-size-24), 0.8rem + 1vw, var(--font-size-36));
    font-weight: var(--font-weight-600);
    letter-spacing: var(--letter-spacing-0p25);
}

.title-thin {
    font-weight: var(--font-weight-400);
}

.description {
    letter-spacing: var(--letter-spacing-0p1);
}


/* cards */
.card {
    overflow: hidden;
    border-radius: var(--border-radius-8);
    padding: var(--padding-32);
    box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 50%);
    display: flex;
    flex-direction: column;
}

.card-title {
    margin-bottom: var(--margin-6);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-600);
    letter-spacing: var(--letter-spacing-0);
    line-height: var(--line-height-1p35);

}

.card-description {
    margin-bottom: var(--margin-32);
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-200);
    letter-spacing: var(--letter-spacing-0p09);
    line-height: var(--line-height-1p6);
}

.supervisor {
    border-top: 4px solid var(--cyan);
}

.teambuilder {
    border-top: 4px solid var(--red);
}

.karma {
    border-top: 4px solid var(--orange);
}

.calculator {
    border-top: 4px solid var(--blue);
}

.card-image-container {
    text-align: right;
    margin-bottom: var(--margin-15);
}