:root {
    font-size: 62.5%;

    /* VARIABLES */

    /* colors */
    --grey-500: hsl(234, 12%, 34%)
    --grey-400: hsl(212, 6%, 44%)
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --blue: hsl(212, 86%, 64%);
    --orange: hsl(34, 97%, 64%);
    --white: hsl(0, 0%, 100%);

    /* font */
    --font-poppins: "Poppins", sans-serif;

    --font-size-36: 3.6rem;
    --font-size-20: 2rem;
    --font-size-15: 1.5rem;
    --font-size-13: 1.3rem;

    --font-weight-200: 200;
    --font-weight-400: 400;
    --font-weight-600: 600;

    --line-height-1p6: 1.6;
    --line-height-1p4: 1.4;
    --line-height-1p35: 1.35;

    --letter-spacing-0: 0;
    --letter-spacing-0p25: 0.25px;

    /* spacing */
    --margin-40: 4rem; 
    --margin-32: 3.2rem; 
    --margin-24: 2.4rem; 
    --margin-16: 1.6rem; 
    --margin-8: 0.8rem; 

    --padding-40: 4rem; 
    --padding-32: 3.2rem; 
    --padding-24: 2.4rem; 
    --padding-16: 1.6rem; 
    --padding-8: 0.8rem; 
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

img {
    display: block;
    line-height: 0;
    width: 100%;
    object-fit: cover;
}

body {
    min-height: 100vh;
    font-family: var(--font-poppins);
    font-size: var(--font-size-15);
}